@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-proxima
  }

  @font-face {
    font-family: "Proxima";
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/ProximaNova-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Proxima";
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/ProximaNova-Semibold.woff") format("woff");
  }

  @font-face {
    font-family: "Proxima";
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/ProximaNova-Extrabld.woff") format("woff");
  }

  .glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}